<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loccale Lineup</title>
    <link rel="stylesheet" href="/locale_linkup/static/css/main.css" />
  </head>
  <body>
    <div class="container mx-auto py-20 mt-20">
      <div class="sign flex flex-col justify-center items-center">
        <h2 class="text-4xl font-bold text-center">Sign Up As</h2>
        <div class="options flex flex-row mt-20 space-x-5">
          <a
            href="/locale_linkup/templates/signup_customer.html"
            class="p-3 px-6 pt-2 rounded-full text-white bg-mainRed hover:bg-darkRed"
            >Sign Up as Customner</a
          >
          <a
            href="/locale_linkup/templates/signup_vendor.html"
            class="p-3 px-6 pt-2 rounded-full text-white bg-mainRed hover:bg-darkRed"
            >Sign Up as Vendor</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
